@tailwind base;
@tailwind components;
@tailwind utilities;
html{
  scroll-behavior: smooth!important;
  width: 100vw;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
  width: 100%;
  position: absolute;
  top: 0;
  right: 0;
}
body::-webkit-scrollbar{
  display: none;
}
/* .overlay{
  display: none;
  justify-content: center;
  align-items: center;
  gap: 10px;
} */
/* .project:hover .overlay{
  display: flex;
} */
.contactIcons{
  transition: all 0.3s!important;
}
@layer components{
  .inactivemoboNav{
    @apply bg-black w-[30px] h-[3px] transition-all duration-[500ms] ease-in-out before:content-[""] before:bg-black before:w-[30px] before:h-[3px] before:absolute before:translate-y-[-7px] after:content-[""] before:transition-all before:duration-[500ms] before:ease-in-out after:bg-black after:w-[30px] after:h-[3px] after:absolute after:translate-y-[7px] after:transition-all after:duration-[500ms] after:ease-in-out

  }
  .activemoboNav{
    @apply bg-black w-[30px] h-[3px] translate-x-[50px] bg-transparent transition-all duration-[500ms] ease-in-out before:bg-black before:w-[30px] before:h-[3px] before:absolute before:rotate-[45deg] before:translate-y-[2px] after:content-[""] before:translate-x-[-45px] before:transition-all before:duration-[500ms] before:ease-in-out after:bg-black after:w-[30px] after:h-[3px] after:absolute after:transition-all after:duration-[500ms] after:ease-in-out after:rotate-[-45deg] after:translate-y-[2px] after:translate-x-[-45px]

  }
  .sideNav{
    @apply fixed flex flex-col items-center justify-around font-poppins text-[35px] w-1/2 h-screen bg-white translate-x-[-100%] transition-all duration-[500ms] ease-in-out mt-[20px] z-[9] shadow-boxShadow
  }
  .activeSideNav{
    @apply fixed w-1/2 h-screen bg-white translate-x-[-10%] transition-all duration-[500ms] ease-in-out flex flex-col items-center mt-[20px] justify-around font-poppins text-[35px] z-[9] shadow-boxShadow
  }
  
}